<section class="phx-hero">
  <h1>Welcome to Elixir RSS</h1>

  <form phx-submit="preview">
    <%= number_input(:f, :last_updated, value: @last_updated) %>
    <button type="submit" phx-disable-with="Searching...">Preview</button>
  </form>
</section>

<%= raw @preview %>
